{% extends 'base.html' %}
{% block content %}

<h1 id="map-header">Find Sightings Near You!</h1>
<style>
    #map {
        height:480px;
        width:800px;
        margin-left: 20rem;
        box-shadow: 0 0 1rem #c0fdff;
        padding-top: 3rem;
    }
</style>

<div>
    {% csrf_token %}
    <input id="address" class="location-input" type="textbox" onfocus="this.value=''" value="Enter Your Location" />
    <input id="search"  class="map-submit" type ="button" value="Search Location" />
    <input id="generate" type ="button" value="Generate Data" />
</div>


<div id="map"></div>

<script>
    {% autoescape off %}
    var sightings_list = {{ sightings }}
    {% endautoescape %}
</script>

<script>
    let map, infoWindow, geocoder, myLatLng;
    let activeInfoWindow = null;
    let markers = [];
    let data_list = []

    function initMap() {
        myLatLng = {lat:39.9612,lng:-82.9988}

        var options = {
            zoom:8,
            center: myLatLng
        };
        
        map = new google.maps.Map(document.getElementById('map'), options);
        infoWindow = new google.maps.InfoWindow();
        geocoder = new google.maps.Geocoder();
    
    }
    
    findGeoLoc();
    
    document.getElementById("search").addEventListener("click", () => {
        geocodeAddress(geocoder, map);
    });
    
    document.getElementById("generate").addEventListener("click", () => {
        var myLat = parseFloat(map.getCenter().lat()).toFixed(9);
        var myLng = parseFloat(map.getCenter().lng()).toFixed(9);
        deleteMarkers();
        handleGenerate(myLat, myLng);
        handleLocalGenerate(myLat, myLng);         
    });

    document.getElementById("address").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("search").click();
        }
    });

    function setMapOnAll(map) {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function clearMarkers() {
        setMapOnAll(null);
    }

    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }

    function geocodeAddress(geocoder, resultsMap) {
        const address = document.getElementById("address").value;
        geocoder.geocode({ address: address }, ( results, status ) => {
            if (status === "OK") {
                myLatLng = results[0].geometry.location;
                resultsMap.setCenter(myLatLng);
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }

    const token = document.querySelector('[name=csrfmiddlewaretoken]').value

    function whaleAPI(lat, lng) {
        return fetch("/generate/", {
            method: "POST",
            body: JSON.stringify({lat,lng}),
            headers: new Headers({ 
                "Content-Type": "application/json",
                "X-CSRFToken": token
            }),
        }).then(res => {
            return res.json()
        }).catch(error => console.log(error))
    }

    async function handleGenerate(lat, lng) {
        const response = await whaleAPI(lat, lng);
        let data_list = response;
            for(var i=0; i < data_list.length; i++){
                addMarker(data_list[i]);
            }
    }

    function handleLocalGenerate(lat1, lng1) {
        for(var i=0; i < sightings_list.length; i++) {
            cLat = parseFloat(sightings_list[i].lat)
            cLng = parseFloat(sightings_list[i].lng)
            if (cLat >= (parseFloat(lat1) - 2) && cLat <= (parseFloat(lat1) + 2)) {
                if (cLng >= (parseFloat(lng1) - 2) && cLng <= (parseFloat(lng1) + 2)) {
                    addMarker(sightings_list[i]);
                }
            }
        }
    }

    function addMarker(props) {
        if (props.lat) {
            var x = parseFloat(props.lat)
            var y = parseFloat(props.lng)
        }    
        if (props.latitude) {
            var x = parseFloat(props.latitude)
            var y = parseFloat(props.longitude)
        }
        var marker = new google.maps.Marker({
            position: { lat: x, lng: y },
            map: map,
        });
        markers.push(marker)
        if(props.title) {
            var tStr = "<div style='float:right; padding: 10px;'><h4>" + String(props.title) + "<h4></div>"
            var sUrl = props.url
            var sImg = "<div style='float:left;'><img height='100' width='100' src='" + props.url + "'></div>"
            var infoWindowSighting = new google.maps.InfoWindow({
                content: sImg + tStr
            });
        }
        if(props.description) {
            var tStr = "<div style='float:right; padding: 10px;'><h4>" + String(props.description) + "<h4></div>"
            var sUrl = "https://i.imgur.com/QLa6Vjy.png"
            var sImg = "<div style='float:left;'><img height='100' width='100' src='" + sUrl + "'></div>"
            var infoWindowSighting = new google.maps.InfoWindow({
                content: sImg + tStr
            });
        }
        marker.addListener('click', function() {
            if (activeInfoWindow != null) { activeInfoWindow.close(); }
            infoWindowSighting.open(map, marker);
            activeInfoWindow = infoWindowSighting;
        });
    }
    
    // find Geolocation
    function findGeoLoc() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    position => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        infoWindow.setPosition(pos);
                        infoWindow.setContent("Location found.");
                        infoWindow.open(map)
                        map.setCenter(pos);
                    },
                    () => {
                        handleLocationError(true, infowWindow, map.getCenter());
                    }
                );
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

</script>

<script defer
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&callback=initMap">
</script>

{% endblock %}