{% extends 'base.html' %}
{% block content %}

<h1>Sighting Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ object.title }}</span>
        <p>Date: {{ object.date }}</p>
        <p>Location: {{ object.location }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Species: {{ object.get_species_display }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'sightings_update' object.id %}">Edit</a>
        <a href="{% url 'sightings_delete' object.id %}">Delete</a>
    </div>
</div>

{% endblock %}