{% extends 'base.html' %}
{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  main {
    margin: 5rem;
  }
</style>

<h1 style="font-size: 50px;">Whale Feed</h1>

{% for object in object_list %}
  <div class="row">
    <div class="column">
    <div class="card">
      {% for photo in photos %}
        <a href="{% url 'detail' object.id %}"><img src="{{photo.url}}" alt="Whale Photo" style="width:100%;"></a>
        {% empty %}
        <a href="{% url 'detail' object.id %}"><img src="https://i.imgur.com/QLa6Vjy.png" alt="Whale Photo" style="width:100%;"></a>
        {% endfor %}
            <p style = "text-transform:capitalize;" class="card-title">{{ object.title }}</p> 
            <p style ="text-transform:capitalize;">Posted by: {{ object.user }}</p>
            <p>Location: {{ object.location }}</p>
            <p>Species: {{ object.get_species_display }}</p>
            <p><small>{{ object.has_comments.count }} comment{{ object.has_comments.count|pluralize }}</small></p>
            <p>{{ object.date }}</p>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}