{% extends 'base.html' %}
{% block content %}


<h1>Profile: My Sightings Index</h1>
<div class="col s3 left vertical" id="twitter">
    
</div>
<!-- <div class="col s9 left"> -->
  {% for object in object_list %}
  <div class="card col s9 right width=100%">
    <a href="{% url 'detail' object.id %}">
      <div class="card-content">
        <span class="card-title">{{ object.title }}</span>
        <p>Date: {{ object.date }}</p>
        <p>Latitude: {{ object.latitude }}</p>
        <p>Longitude: {{ object.longitude }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Species: {{ object.get_species_display }}</p>
        <p class="right"><small>{{ object.likes.count }} comments</small></p>
      </div>
    </a>
  </div>
<!-- </div> -->

{% endfor %}

{% endblock %}