{% extends 'base.html' %}
{% block content %}

<h1> Google Map</h1>
<style>
    #map {
        height:400px;
        width:100%;
    }
</style>
<div id="map"></div>
<script>
    function initMap(){
        // Map options
        var options = {
            zoom:8,
            center:{lat:34.0522,lng:-118.2437}
        };
        
        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);
        
        
        // Listen for click on map
        google.maps.event.addListener(map, 'click',
        function(event){
            // Add marker
            addMarker({coords: event.latLng});
            console.log(event.latLng.toString())
        });
        

        // Array of sighting markers
        var markers = [
            {
            coords:{lat:34.0522,lng:-118.2437},
            iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            content:'<h4>Whale Sighting Info here</h4>'
            },
            {
            coords:{lat:34.0259,lng:-118.7798},
            iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            content:'<h4>Whale Sighting Info here</h4>'
            }
        ]

        // Loop through markers
        for(var i=0; i < markers.length; i++){
            addMarker(markers[i]);
        }

        // Add Marker Function
        function addMarker(props){
            var marker = new google.maps.Marker({
            position: props.coords,
            map: map,
            // icon: props.iconImage
        });

        // Check for custom icon
        if(props.iconImage){
            // Set icon image
            marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
            var infoWindow = new google.maps.InfoWindow({
            content: props.content
        });

        marker.addListener('click', function(){
            infoWindow.open(map, marker);
        });
        }

        }
    }
</script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvpsQ28JANinTPRU3S-Zw3b8eBkLlIGmU&callback=initMap">
</script>

{% endblock %}