{% extends 'base.html' %}
{% block content %}

<h1>Sightings Map</h1>
<style>
    #map {
        height:400px;
        width:100%;
    }

</style>

<div id="floating-panel">
    <input id="address" type="textbox" value="Enter Your Location" />
    <input id="submit" type ="button" value="Search" />
</div>

<div id="map"></div>

<script>
    {% autoescape off %}
    var sightings_list = {{ sightings }}
    {% endautoescape %}
</script>

<script>

    let map, infoWindow;

    function initMap(){
        // Map options
        var options = {
            zoom:8,
            center:{lat:34.0522,lng:-118.2437}
        };
        
        // New map
        map = new google.maps.Map(document.getElementById('map'), options);

        infoWindow = new google.maps.InfoWindow();

        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                position => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent("Location found.");
                    infoWindow.open(map)
                    map.setCenter(pos);
                },
                () => {
                    handleLocationError(true, infowWindow, map.getCenter());
                }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        const geocoder = new google.maps.Geocoder();
        document.getElementById("submit").addEventListener("click", () => {
            geocodeAddress(geocoder, map);
        });

        // Listen for click on map
        // google.maps.event.addListener(map, 'click',
        // function(event){
        //     // Add marker
        //     addMarker({coords: event.latLng});
        //     console.log(event.latLng.toString())
        // });

        // Loop through sightings and make markers
        for(var i=0; i < sightings_list.length; i++){
            addMarker(sightings_list[i]);
        }

        // Add Marker Function
        function addMarker(props){
            var x = parseFloat(props.lat)
            var y = parseFloat(props.lng)
            var marker = new google.maps.Marker({
            position: { lat: x, lng: y },
            map: map,
        });

        // Check content
        if(props.title){
            var cStr = '<h4>' + String(props.title) + '<h4>'
            var infoWindowSighting = new google.maps.InfoWindow({
            content: cStr
        });

        marker.addListener('click', function(){
            infoWindowSighting.open(map, marker);
        });
        }
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }

    function geocodeAddress(geocoder, resultsMap) {
        const address = document.getElementById("address").value;
        geocoder.geocode({ address: address }, ( results, status ) => {
            if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }

</script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvpsQ28JANinTPRU3S-Zw3b8eBkLlIGmU&callback=initMap">
</script>

{% endblock %}