{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{ object.title }}</span> </h1>
{% else %}
    <h1>Add Sighting</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>

<!-- Ale to delete everything in script tags once we remove materialize -->
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  
    var selectEl = document.getElementById('id_species');
    M.FormSelect.init(selectEl);
</script>

<h1>Find Latitude & Longitude Below:</h1>
<style>
    #map {
        height:400px;
        width:100%;
    }
</style>

<div id="floating-panel">
    <input id="address" type="textbox" value="Enter Your Location" />
    <input id="submit" type ="button" value="Search" />
</div>

<div id="map"></div>

<script>
    let map, infoWindowLatLng;

    let myLatLng = {lat:34.0522,lng:-118.2437};
    
    function initMap(){
        // Map options
        var options = {
            zoom: 8,
            center: myLatLng
        };
        
        // New map
        map = new google.maps.Map(document.getElementById('map'), options);
    
        infoWindow = new google.maps.InfoWindow();

        // Create initial InfoWindow for Lat/Lng
        infoWindowLatLng = new google.maps.InfoWindow(
            {content: 'Click the map to get Lat/Lng!', position: myLatLng}
        );

        infoWindowLatLng.open(map);

        // Configure the click listener
        map.addListener('click', function(event) {
            // Close the current InfoWindow for Lat/Lng
            infoWindowLatLng.close()
            // Create a new InfoWindow for Lat/Lng
            infoWindowLatLng = new google.maps.InfoWindow({position: event.latLng});
            var latLngStr = event.latLng.toString()
            infoWindowLatLng.setContent(latLngStr);
            infoWindowLatLng.open(map);
            // Convert Lat/Lng to strings
            newLaLn = latLngStr.replace('(','').replace(')','')
            arrLaLn = newLaLn.split(',')
            sLat = parseFloat(arrLaLn[0]).toFixed(9)
            sLng = parseFloat(arrLaLn[1]).toFixed(9)
            // Place in correct field values
            document.getElementById("id_latitude").value = sLat
            document.getElementById("id_longitude").value = sLng
        });
    
        const geocoder = new google.maps.Geocoder();
        document.getElementById("submit").addEventListener("click", () => {
            geocodeAddress(geocoder, map);
        });
    
    }  
    
    function geocodeAddress(geocoder, resultsMap) {
        const address = document.getElementById("address").value;
        geocoder.geocode({ address: address }, ( results, status ) => {
            if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }
</script>

{% endblock %}