{% extends 'base.html' %}
{% block content %}


    <!-- <img id="home-logo-about" src="https://i.imgur.com/QhBHeqV.png" alt="Whale Scope logo"> -->
<div>
    <h1 class="about-heading">About Whale Scope</h1>
    <p class="about-parag">Hello from the WhaleScope team!<br/> At WhaleScope, we created a place where everyone can embrace the beauty of these magnificent creatures. <br/> The experiences you have with whales out in the water can now be shared with the world.<br/>  Whales are such beautiful creatures and also the largest and we think they deserve the spotlight. Sign up and begin descovering the world of WhaleScope!</p>
</div>
<div>
    <p id="meet">Meet the Whale Scope Team!</p>
    <img id="team-pic" src="https://i.imgur.com/pOzMTM1.png" alt="WhaleScope team">
</div>

{% endblock %}