
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    color: orange;
  }


  h1 {
    color: yellow;
  }

  body {
    background-color: orangered;
  }

  
  footer {
    padding-top: 0;
    text-align: right;
  }
  

